root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{md,yml,yaml,json,toml,rs,ts,tsx,js,jsx,css,scss,html,sh,py}]
end_of_line = lf

[*.{bat,cmd,ps1}]
end_of_line = crlf

[Makefile]
indent_style = tab
